
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
    <link rel="stylesheet" href="./css/search.css" />
</head>
<body>
    <nav class="nav" >
        <header class="nav-header">
            <div class="nav-img">
                <img src='https://www.mcdonalds.com/content/dam/sites/usa/nfl/icons/arches-logo_108x108.jpg'/>
            </div>
            <div class="nav-row">
                <div class="nav-item-c">
                    <div class="nav-item-wrapper">
                        <ul class="nav-item-b just-item-center">
                            <li><a>Language</span></li>
                            <li><a href="./login.html">Sign up for Email</span></li>
                            <li><a>Carrers</span></li>
                        </ul>
                    </div>
                    <div class="flex w-100-m-400 gap-15 just-item-center">
                        <div class="nav-item-menu flex ">
                            <div class="nav-text-box flex fs-14">
                                <img src='./assets/search-icon.svg'/>
                                <p>
                                    Search
                                </p>
                            </div>
                            <div class="nav-text-box flex fs-14">
                                <img src="./assets/location-icon.svg" />
                                <span>
                                    Change your Location
                                </span>
                            </div>
                        </div>
                        <button class="btn btn-nav">
                            Order now
                        </button>
                    </div>
                </div>
                <div class="flex m--50 m-h-20">
                    <ul class="list-inline">
                        <li><a href="./menu.html">Our Menu</a></li>
                        <li><a href="./promo.html">Promo</a></li>
                        <li><a>MyMcDonald's Rewards</a></li>
                        <li><a>Download App</a></li>
                        <li><a>About Our Food</a></li>
                    </ul>
                </div>
            </div>
        </header>
    </nav>  
    <main>
        <sectin class="search-s">
            <div class="search-c">
                <div class="search-w">
                    <input type="text" placeholder="Search Burger" required /> 
                    <a href="./index.html">
                        <button>
                            <img src='./assets/search-icon.svg'/>
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </main>
    <footer class="footer-c">
        <div class="footer-w">
            <div class="footer-b1">
                <h3>McDonald's</h3>
                <div class="footer-b1-list-menu">
                    <ul class="footer-b1-list">
                        <li><a>Hubungi Kami</a></li>
                        <li><a>Tentang Kami</a></li>
                        <li><a>Newsroom</a></li>
                        <li><a>Karier</a></li>
                    </ul>
                    <ul class="footer-b1-list">
                        <li><a>Layanan</a></li>
                        <li><a>Sertifikasi & Jaminan Kualitas</a></li>
                        <li><a>CSR</a></li>
                        <li><a>Applikasi McDonald's</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-b2">
                <h3>Hubungi Kami</h3>
                <ul class="footer-b2-list-sc">
                    <li><img src="./assets/facebook-icon.svg"  alt="facebook icon" /></li>
                    <li><img src="./assets/twiter.svg" alt="twitter icon" /></li>
                    <li class="m-10"><img src="./assets/Instagram-Icon.svg"  alt="instagram icon" /></li>
                    <li><img src="./assets/youtube-icon.svg"  alt="youtube icon" /></li>
                </ul>
                <div class="footer-b2-list-app-store">
                    <img src="./assets/App-Store.svg" alt="App store" />
                    <img src="./assets/Play-Store.svg" alt="Play store" />
                </div>
            </div>
            <div class="footer-b3">
                <h3>Berlangganan newsletter McD</h3>
                <form class="footer-form">
                    <input type="text" placeholder="Masukan Email"/>
                    <button>Daftar</button>
                </form>
            </div>
        </div>
        <div class="footer-f-c">
            <div class="footer-f">
                <span>© 2022 McDonald's Indonesia</span>
                <div class="footer-f-2">
                    <span>Syarat & Ketentuan</span>
                    <span>Kebijakan Privasi</span>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>