
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignIn</title>
    <link rel="stylesheet" href="./css/sign-in.css"
</head>
<body>
    <main classs="main">
        <section class="sign-up-s">
            <div class="sign-up-bg">
                <img src="https://www.mcdonalds.com/content/dam/sites/usa/nfl/publication/1PUB_McDelivery_v4_1168x520.jpg" />
            </div>
            <div class="sign-up-c">
                <div class="sign-up-w">
                    <div class="sign-up-header">
                        <a href="./index.html">
                            <img src='./assets/back-icon.svg'/>
                        </a>
                        <h2>McDonald’s Email Signup</h2>
                    </div>
                    <!-- <div class="sign-up-title">
                        <p>Sign Up</p>
                        <span>Be in the know about deals, MyMcDonald’s Rewards, news and more by signing up for emails.</span>
                    </div> -->
                    <form class="sign-up-form">
                        <label class="sign-up-label">
                            * Indicates a required field
                            <input  class="sign-up-input" type="text" placeholder="*Username" />
                        </label>
                        <input  class="sign-up-input" type="email" placeholder="* Enter Your Email" />
                        <input  class="sign-up-input" type="password" placeholder="* Password" />
                    </form>
                    <div class="sign-up-f">
                        <span class="sign-up-warning">
                            *By selecting "Sign Up," you agree to the McDonald's Privacy Policy and Terms & Conditions. Unsubscribe from emails any time. Please note when unsubscribing: it may take up to 10 business days for your request to take effect
                        </span>
                        <button class="sign-up-btn yellow">Sign Up</button>
                        <hr />
                        <a href="./login.html">Already have account?</a>
                    </div>
                </div>
            </div>
            <div class="sign-up-footer">
                <div class="sign-up-footer-content">
                </div>
            </div>
        </section>
    </main>
</body>
</html>