*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    max-width:1500px;
}

/* body{
    max-width:1500px;
    margin: 0 auto;
} */

main{
    padding-top:132px
}


.nav{
    position:fixed;
    width: 100%;
    z-index: 5;
    background-color:white;
    box-shadow: 0 0 6px 0  rgb(226, 226, 226);
}

.row{
    display: flex;
}

.nav-header{
    display: flex;
    justify-content:space-between;
    width: 90%;
    margin: 0 auto;
    padding:5px 0 2px;
}

.m--50{
    margin:15px 30px 30px;
}


.nav-row{
    width: 100%;
    display: flex;
    gap: 0;
    flex-direction:column;
    justify-content:space-between;
}

.nav-img{
    margin-top: 10px;
}

.nav-item-c{
    display: flex;
    margin: 8px 30px 0px;
    justify-content:space-between;
    flex-direction: row;
}

.nav-item-wrapper{
    display: flex;
}

.nav-item-b{
    display: flex;
    gap: 30px;
    width: 100%;
}

.nav-item-b li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.nav-item-menu{
    color: #696969;
    font-size:14px;
    gap: 30px;
    text-decoration: none;
}

.gap-15{
    gap: 30px;
}

.just-item-center{
align-items: center;
}

.nav-item-menu:hover{
    color: #303030
}

.w-100-m-400{
    width: 100%;
    min-width: 400px;
}
.nav-item-b a{
    color: #696969;
    cursor:pointer;

    font-size:14px;
    text-decoration: none;
}

.nav-item-b a:hover{
    color: #303030
}

.nav-text-box{
    color: #696969;
    cursor:pointer;
    gap:4px;
}

.account{
    cursor:pointer;
}

.nav-text-box a {
    font-size:14px;
    display: flex;
    text-decoration: none;
}

.nav-text-box p{
    text-decoration: none;

}

.nav-text-box img{
    height:20px
}

.fs-14{
    font-size:14px;
}

.flex{
    display: flex;
}

.nav-text-box :hover{
    color: #303030
}

.btn{
    outline:none;
    border: none;
}

.btn-nav{
    
    padding: 10px 20px;
    cursor:pointer;
    border-radius: 2px;
}

.yellow{
    background-color:#FFBC0D;
    color: white;
}

.red{
    background-color:#DB0107;
    color: white;
}

.red:hover{
    background-color:#c50007
}

.yellow:hover{
    background-color:#fdb500;

}

.list-inline{
    gap: 30px ;
    width: 100%;
    display: flex;
    list-style: none;
    font-size:14px;
    text-decoration: none;
}

.list-inline a{
    cursor:pointer;
    text-decoration: none;
    color: #696969;
}

.list-inline  a:hover{
    color: #303030
}



.banner-s{
    width: 100%;
}

.banner-c{
    height:340px;
    overflow-y: hidden;
    width: 100%;
    background-color: #FEF9EC;
}

.banner-w{
    width: 88%;
    margin: 0 auto;
    display: flex;
    justify-content:space-between;
}

.banner-b-img{
    width: 600px;
}

.banner-b-img img{
    width: 100%;
}

.banner-b-text{
    width: 50%;
    align-items: center;
    height: 60%;
    gap: 40px;
    display:flex;
    flex-direction: column;
    /* justify-content: space-between; */
    margin: 40px 0 auto;
}

.banner-b-text h1{
    width: 100%;
    font-size: 36px;
}

.banner-b-back{
    width: 100%;
    cursor:pointer;
    align-items: center;
}

.banner-b-back a{
    text-decoration: none;
}

.banner-b-back:hover{
    color: #303030;
}


.banner-b-back span{
    font-size: 12px;
    height:16px;
    align-items: center;

}


.banner-b-back img{
    height:12px;
    margin: 6px 0 0;
}

.menu-s{
    width: 100%;
    padding: 50px 0;
}

.menu-c{
    width: 100%;
}

.menu-w{
    width: 87%;
    text-align: center;
    margin: 0 auto;
}

.menu-w h2{
    font-size: 34px;
    text-align: center;
    font-weight: 700;
    margin: 30px 0;
}


.menu-content{
    width: 100%;
    margin: 60px 0 0;
    text-align: center;
    justify-content: center;
    gap: 10px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.menu-box{
    justify-content: center;
    width: 100%;
    cursor:pointer;
    margin: 0px 0 50px;
    text-align: center
}

.menu-box a{
    text-decoration: none;
    color: #444444
}


.menu-box-c:hover{
    z-index: 5;
    box-shadow: 4px 4px 7px 1px #eeeeee
}


.menu-img{
    width: 230px;
    margin: 0 auto
}

.menu-img img{
    width:100%;
    object-fit: fill;

}


.menu-text{
    font-size: 18px;
    margin: 10px 0;
    padding-bottom: 20px;
}

.app-s{
    width: 100%;
    
    background-color:#FAFAFA;
}


.app-c{
    width: 100%;
}

.app-w{
    width: 85%;
    margin: 0 auto;
    padding: 60px 0 0;
    display: flex;
    justify-content:space-between;
}

.app-text{
    width: 100%;
    max-width: 700px;
    font-weight: 700;
    align-items:center;
    margin: 40px 0 auto;
    max-width:500px
}

.app-text h1{
    margin-bottom:20px;
    font-size: 36px;
}


.app-img{
    text-align:right;
    width: 100%;
}

.app-img img{
    width: 400px
}

.app-text-img img{
    height: 40px;
    margin-right: 10px;
}




.footer-c{
    width: 100%;
}

.footer-w{
    width: 85%;
    margin: 0 auto;
    padding: 0 0 35px;
    display: flex;
    gap: 20px;
}


.footer-b1{
    margin: 40px 0;
}

.footer-b1 h3{
    margin: 10px 0;
}


.footer-b1-list-menu{
    display: flex;
    gap:80px;
}

.footer-b1-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style-type: none;
}

.footer-b1-list-menu li{
    cursor: pointer;
    color: #696969;
}

.footer-b1-list-menu li:hover{
    color: #444444;
}

.footer-b2{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 40px 20px;
}

.footer-b2 h3{
    margin: 10px 0;
}


.footer-b2-list-sc{
    display: flex;
    /* gap: 20px; */
}

.footer-b2-list-sc li{
    list-style: none;
}

.footer-b2-list-sc img{
    height:28px;
    cursor:pointer;
}


.m-10{
    margin: 0 20px;
}


.footer-b2-list-app-store img{
    width: 110px;
    cursor: pointer;
}


.footer-b3{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 40px 20px;
}

.footer-b3 h3{
    margin: 10px 0;
}

.footer-form{
    width: 100%;
    display: flex;
}

.footer-form input{
    width: 70%;
    background-color:white;
    padding: 10px  10px;
    border: 1px solid #a1a1a1;
}


.footer-form button{
    background-color:#DB0107;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 10px 20px;
}


.footer-form button:hover{
    background-color: rgb(216, 17, 17);
}

.footer-f-c{
    background-color:#f8f8f8;
    width: 100%;
}

.footer-f{
    padding: 20px 0;
    display: flex;
    width:85%;
    font-size: 14px;
    margin: 0 auto;
    justify-content:space-between;
}


.footer-f-2 span{
    margin: 0 10px;
    cursor: pointer;
}

.footer-f-2 span:hover{
    color: #FFBC0D;
}


